<div class="form-group">

  <h2>Replying to:
    <%= @post.title %>
  </h2>

  <%= form_for [@post, @reply] do |f| %>

  <%= f.text_area :comment, size: "60x12" %>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
